In [2]:
import numpy as np
import pandas as pd
# %matplotlib widget
# import seaborn as sns
from matplotlib import pyplot as plt

In [6]:
X_train = np.load('./data/X_train.npy')
X_test = np.load('./data/X_test.npy')

y_train = pd.read_csv('./data/y_train.csv')
# y_test = pd.read_csv('./data/y_test.csv')
y_test = pd.read_csv('./data/sample_submission.csv')

print(X_train.shape, y_train.shape)
print(X_test.shape)

(323, 40, 100) (32300, 2)
(54, 40, 100)

In [7]:
print(y_train.shape)
y_train

(32300, 2)

      sample-timestep  class
0                 0-0      0
1                 0-1      0
2                 0-2      0
3                 0-3      0
4                 0-4      0
...               ...    ...
32295          322-95      4
32296          322-96      4
32297          322-97      4
32298          322-98      4
32299          322-99      4

[32300 rows x 2 columns]

In [15]:
y_train[['sample_id', 'timestep']] = y_train['sample-timestep'].str.split('-', n=1, expand=True).astype(int)
y_train = y_train.pivot(index='sample_id', columns='timestep', values='class')
y_train_index = y_train.index
y_train = y_train.sort_index() # на всякий случай
y_train = y_train.values

print(y_train.shape)
y_train

(323, 100)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 6, 6, 6],
       ...,
       [0, 0, 0, ..., 7, 7, 7],
       [7, 7, 7, ..., 0, 0, 0],
       [0, 0, 0, ..., 4, 4, 4]], dtype=int64)